{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <h2>Nombre de cartes total générées : {{ cards|length }}</h2>

    <h3>Nombre de cartes par type</h3>
    <canvas id="cardsByTypeChart"></canvas>

    <h3>Nombre de cartes par classe</h3>
    <canvas id="cardsByClassChart"></canvas>

<script id="cardsByTypeData" type="application/json">{{ cardsByType|json_encode|raw }}</script>
    <script id="cardsByClassData" type="application/json">{{ cardsByClass|json_encode|raw }}</script>
{% endblock %}