{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="px-12 py-16 h-5/6 flex justify-center items-center flex-col">
        <h2>Nombre de cartes</h2>
        <div class="text-dark text-lg bg-light bg-opacity-60 backdrop-blur-xs py-4 px-6 shadow mx-6 rounded-full font-bold mb-10">{{ cards|length }}</div>

        <div class="flex flex-col lg:flex-row justify-center gap-8">
            <div class="bg-light bg-opacity-60 backdrop-blur-xs py-6 px-8 rounded-xl shadow flex flex-col justify-center items-center mx-6">
                <h3>Nombre de cartes par type</h3>
                {{ render_chart(cardsByTypeChart) }}
            </div>
            <div class="bg-light bg-opacity-60 backdrop-blur-xs py-6 px-8 rounded-xl shadow flex flex-col justify-center items-center mx-6">
                <h3>Nombre de cartes par classe</h3>
                {{ render_chart(cardsByClassChart) }}
            </div>
        </div>
    </div>
{% endblock %}