<footer class="bg-light flex justify-center items-center flex-col lg:flex-row py-6 lg:py-4 gap-4 px-8 border-t border-dark">
    <p>&copy; Copyright Runic arena 2024 </p>
    <img src="{{ asset('images/runic-arena_logo.png') }}" alt="Image de fond" class="block h-auto w-20">
    <a href="{{ path('app_home') }}" class="text-dark">Mentions légales</a>
</footer>