<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Runic arena
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon_runic_arena.png') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="bg-medium">
		{{ include('_header.html.twig') }}
		<main>
			{% block body %}{% endblock %}
		</main>
		{{ include('_footer.html.twig') }}
	</body>
</html>
